
  button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border:none;
    background-color: #5b01a7;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  h1{
    font-size: 40px;
    color: white;
  }
  form{
    text-align: center;
  }
  input{
    width: 270px;
    border: none;
    border-bottom: 2px solid #5b01a7;
    font-size: 18px;
    margin: 0 8px;
  }
  legend{
    text-align: center;
  }
  
  .form-fieldset{
    border:none;
    width: 100%;
    margin-top: 10px;
    margin: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 20px;
    
  }
  .form-container{
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }
  .form-result{
    font-size: 25px;
    margin: 10px;
    text-align: center;
  }

  